In [2]:
import numpy as np,pandas as pd,matplotlib.pyplot as plt,seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
data=pd.read_csv('/Users/rishismac/Downloads/heart_v2.csv')
data

     age  sex   BP  cholestrol  heart disease
0     70    1  130         322              1
1     67    0  115         564              0
2     57    1  124         261              1
3     64    1  128         263              0
4     74    0  120         269              0
..   ...  ...  ...         ...            ...
265   52    1  172         199              0
266   44    1  120         263              0
267   56    0  140         294              0
268   57    1  140         192              0
269   67    1  160         286              1

[270 rows x 5 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            270 non-null    int64
 1   sex            270 non-null    int64
 2   BP             270 non-null    int64
 3   cholestrol     270 non-null    int64
 4   heart disease  270 non-null    int64
dtypes: int64(5)
memory usage: 10.7 KB

In [5]:
data.describe()

              age         sex          BP  cholestrol  heart disease
count  270.000000  270.000000  270.000000  270.000000     270.000000
mean    54.433333    0.677778  131.344444  249.659259       0.444444
std      9.109067    0.468195   17.861608   51.686237       0.497827
min     29.000000    0.000000   94.000000  126.000000       0.000000
25%     48.000000    0.000000  120.000000  213.000000       0.000000
50%     55.000000    1.000000  130.000000  245.000000       0.000000
75%     61.000000    1.000000  140.000000  280.000000       1.000000
max     77.000000    1.000000  200.000000  564.000000       1.000000

In [7]:
percentage_diseased=data['heart disease'].sum()/len(data)
percentage_diseased

0.4444444444444444

In [9]:
y=data.pop('heart disease')
X=data

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=100)
X_train.shape,X_test.shape

((189, 4), (81, 4))

In [20]:
print('train balance:',y_train.sum()/len(y_train))
print('test balance:',y_test.sum()/len(y_test))

train balance: 0.4444444444444444
test balance: 0.4444444444444444